include partials/main
header
	.wrapper
		a.logo(href="index.php")
			div
				+icon('plus','3x')
			div DV
			div Front-end Developer
		nav
			ul
				li: a(href="diegovelasquez.php")
					+icon('user','')
					| Acerca de
				li: a(href="blog.php")
					+icon('file-text-o','')
					| Blog
				li: a(href="videos.php")
					+icon('video-camera','')
					| Videos
				li: a(href="contacto.php")
					+icon('envelope-o','')
					| Contacto

