/*FORMS*/

select, input[type="file"]
    +noAppearance

.form-item
    +mb(20px)
    +relative
    +w100


/*form-icons*/

label
    +co($gray-dark)
    +mb(5px)
    +fs(1.4, 100%, 400)
    +block
    +w100
    strong
        +ml(5px)
        +co($color)


input[type='text']
    +size(100% 40px)
    +fs(1.4, 40px, 300)
    +co($gray-dark)
    padding: 5px
    +font
    +transition(.2s)
    border: thin solid $gray - 20
    +focus
        border: thin solid $gray - 40

textarea
    +size(100% 140px)
    +fs(1.4, 110%, 300)
    +co($gray-dark)
    +font
    padding: 5px
    +transition(.2s)
    overflow: auto
    resize: none
    border: thin solid $gray - 20
    +focus
        border: thin solid $gray - 40



/*PlaceHolder*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
    +co($place)
::-moz-input-placeholder
    +co($place)
input:-moz-input-placeholder,
textarea:-moz-input-placeholder
    +co($place)
input:-moz-placeholder,
textarea:-moz-placeholder
    +co($place)
input::-moz-placeholder,
textarea::-moz-placeholder
    +co($place)
input:-ms-input-placeholder,
textarea:-ms-input-placeholder
    +co($place)
.form-item:-ms-input-placeholder
    +co($place)
input
    +co($gray-dark)
