section.linea-h.linea-f
    span
      span
      span
      span
      span
      span
      span
      span
    footer
      section.marco
        .marco-datos
          ul.mapa-site1.items_footer.wow.bounceInUp(data-wow-delay='0.2s')
            a(href='')
              li ¿Cómo funciona?
            a(href='')
              li Pregúntanos
            a(href='')
              li ¿Cómo ser profesional?
            a(href='')
              li Contáctanos
            a(href='')
              li Iniciar sesión
          ul.contacto1.items_footer.wow.bounceInLeft(data-wow-delay='0.2s')
            p Contáctanos
            p
              span +(123).456.789
          ul.email1.items_footer.wow.bounceInRight(data-wow-delay='0.2s')
            p Déjanos un e-mail
            p
              a(href='') info@unapreguntica.com
        section.derechos-autor
          .derechos © 2014 UNAPREGUNTICA.COM - TODOS LOS DERECHOS RESERVADOS
          ul.redes
            a(href='')
              li.face
            a(href='')
              li.twitter
            a(href='http://www.imaginamos.com', target='_blank')
              span#ahorranito2
    //
      Jquery
    script(src='assets/js/lib/jquery-1.11.0.min.js')
    //
      Plungis
    script(src='assets/js/lib/jquery.sudoSlider.js')
    script(src='assets/js/lib/jquery.magnific-popup.js')
    script(src='assets/js/lib/jquery.nicescroll.js')
    script(src='assets/js/lib/wow.min.js')
    script(src='assets/js/jquery-importantes.js')
