include partials/main
header
	.wrapper
		a.logo(href="index.php")
			div
				+tooltip
			div DV
			div Front-end Developer
		nav
			ul
				li: a(href="index.php") Inicio
				li: a(href="diegovelasquez.php") Acerca de
				li: a(href="blog.php") Blog
				li: a(href="videos.php") Videos
				li: a(href="contacto.php") Contacto

