@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/*HELPER */
.clear {
  clear: both; }

.rounded {
  border-radius: 5px; }

.left {
  float: left; }

.right {
  float: right; }

.z999 {
  z-index: 999; }

.hidden {
  visibility: hidden; }

.b1 {
  border: 0.1rem solid darkred; }

.b2 {
  border: 0.1rem solid navy; }

.b3 {
  border: 0.1rem solid lime; }

.none {
  display: none; }

.relative {
  position: relative; }

.noFlex {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none; }

.w1024 {
  width: 1024px;
  margin: 0 auto 0;
  position: relative; }

.w100 {
  width: 100%; }

.noScroll {
  overflow: hidden; }

.wrapper {
  position: relative;
  width: 1080px;
  margin: 0 auto 0;
  display: block; }
  @media screen and (max-width: 1024px) {
    .wrapper {
      max-width: 100%; } }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body,
hmtl {
  height: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

*:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

p {
  margin-bottom: 10px; }
  p:nth-last-child {
    margin-bottom: 0; }

ul {
  list-style-image: none !important;
  list-style-type: none !important;
  list-style: none !important; }

a {
  text-decoration: none; }

/*PAGINATION */
.pager {
  text-align: center; }
  .pager ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .pager ul li {
      margin: 0 3px; }
      .pager ul li a {
        display: block;
        background: #597d9d;
        color: white;
        height: 30px;
        width: 30px;
        font-size: 1.6rem;
        line-height: 30px;
        cursor: pointer;
        -webkit-transition: all 600ms;
        transition: all 600ms;
        border-radius: 5px; }
        .pager ul li a:hover {
          background: #1d4161; }
        .pager ul li a i {
          margin-top: 8px; }
      .pager ul li a.active {
        background: #315575; }

.pager-rounded {
  text-align: center;
  width: 100%; }
  .pager-rounded ul {
    text-align: center;
    font-size: 0; }
    .pager-rounded ul li {
      display: inline-block;
      vertical-align: top;
      white-space: normal; }
      .pager-rounded ul li a {
        display: block;
        background: white;
        color: #4a4a4a;
        height: 40px;
        width: 30px;
        font-size: 1.6rem;
        line-height: 38px;
        font-weight: 400;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }
        .pager-rounded ul li a:hover {
          color: #33a7d0; }
        .pager-rounded ul li a i {
          margin-top: 8px; }
      .pager-rounded ul li .active {
        color: #33a7d0; }
    .pager-rounded ul .first {
      border-radius: 0px; }
    .pager-rounded ul .last {
      border-radius: 0px; }
    .pager-rounded ul .prev a {
      border-radius: 5px 0 0 5px; }
    .pager-rounded ul .next a {
      border-radius: 0 5px 5px 0; }

/*FORMS */
select, input[type="file"] {
  -webkit-appearance: none; }

.form-item {
  margin-bottom: 20px;
  position: relative;
  width: 100%; }

/*form-icons */
label {
  color: #4a4a4a;
  margin-bottom: 5px;
  font-size: 1.4rem;
  line-height: 100%;
  font-weight: 400;
  display: block;
  width: 100%; }
  label strong {
    margin-left: 5px;
    color: #33a7d0; }

input[type='text'] {
  height: 40px;
  width: 100%;
  font-size: 1.4rem;
  line-height: 40px;
  font-weight: 300;
  color: #4a4a4a;
  padding: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: thin solid #e2e2e2; }
  input[type='text']:focus {
    border: thin solid #cecece; }

textarea {
  height: 140px;
  width: 100%;
  font-size: 1.4rem;
  line-height: 110%;
  font-weight: 300;
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow: auto;
  resize: none;
  border: thin solid #e2e2e2; }
  textarea:focus {
    border: thin solid #cecece; }

/*PlaceHolder */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #454544 !important; }

::-moz-input-placeholder {
  color: #454544 !important; }

input:-moz-input-placeholder,
textarea:-moz-input-placeholder {
  color: #454544 !important; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #454544 !important; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #454544 !important; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #454544 !important; }

.form-item:-ms-input-placeholder {
  color: #454544 !important; }

input {
  color: #4a4a4a; }

/*BUTTONS */
/*button */
.button {
  background: #33a7d0;
  color: white;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 38px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .button:hover {
    background: #1589b2; }

.button.big {
  padding: 0px 30px;
  font-size: 1.6rem;
  line-height: 40px;
  font-weight: 700;
  border-radius: 3px;
  height: 40px;
  text-transform: uppercase; }

/*Tabs */
/*button */
.tabs {
  width: 100%;
  margin-top: 10px;
  text-align: left; }
  .tabs li {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    white-space: normal; }
    .tabs li:nth-of-type(even) {
      margin: 0 10px; }
    .tabs li a {
      display: block;
      font-size: 1.6rem;
      line-height: 100%;
      font-weight: 400;
      color: gray;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      padding: 10px 20px;
      border-radius: 25px;
      background: #ececec; }
      .tabs li a:hover {
        background: #33a7d0;
        color: white; }
    .tabs li .active {
      background: #33a7d0;
      color: white;
      padding: 10px 20px;
      font-family: "Lato", sans-serif;
      font-weight: 700; }

/*GRID */
.grid-left, .container-propierty {
  text-align: left !important;
  text-justify: distribute-all-lines;
  font-size: 184px !important; }
  .grid-left > *, .container-propierty > * {
    text-align: left;
    font-size: medium; }
  .grid-left:after, .container-propierty:after {
    content: "";
    display: inline-block;
    width: 100%; }

.grid {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important; }
  .grid > * {
    text-align: left;
    font-size: medium; }
  .grid:after {
    content: "";
    display: inline-block;
    width: 100%; }

.col {
  vertical-align: top;
  display: inline-block; }

.col-1 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 5.29801%; }

.col-2 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 13.90729%; }

.col-3 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 22.51656%; }

.col-4 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 31.12583%; }

.col-5 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 39.7351%; }

.col-6 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 48.34437%; }

.col-7 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 56.95364%; }

.col-8 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 65.56291%; }

.col-9 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 74.17219%; }

.col-10 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 82.78146%; }

.col-11 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 91.39073%; }

body {
  background: #f6f6f6; }

/*@header */
header {
  width: 100%;
  height: 320px;
  background: url("../images/bg-banner.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: bottom center; }
  header > .wrapper {
    text-align: left !important;
    text-justify: distribute-all-lines;
    font-size: 0 !important; }
    header > .wrapper > * {
      text-align: left;
      font-size: medium; }
    header > .wrapper:after {
      content: "";
      display: inline-block;
      width: 100%; }
  header figure {
    vertical-align: top;
    display: inline-block;
    width: 132px;
    margin: 100px 0 0 200px; }
    header figure img {
      border: 6px solid white;
      width: 100%;
      height: 100%;
      border-radius: 100%; }
  header .contact-data {
    vertical-align: top;
    display: inline-block;
    width: auto;
    margin: 100px 0 0 20px;
    color: white; }
    header .contact-data hgroup h1,
    header .contact-data hgroup h2 {
      font-size: 4rem;
      line-height: 100%;
      font-weight: 700; }
    header .contact-data hgroup h2 {
      font-weight: 400; }
    header .contact-data span {
      background: #262626;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      line-height: 28px;
      text-align: center;
      float: left;
      clear: left;
      margin-top: 5px; }
    header .contact-data p {
      font-size: 2rem;
      line-height: 30px;
      font-weight: 400;
      float: left;
      text-indent: 10px;
      margin: 5px 0 0; }

nav {
  background: #33a7d0; }
  nav ul {
    position: relative;
    width: 1080px;
    margin: 0 auto 0;
    text-align: center; }
    nav ul li {
      width: 20%;
      display: inline-block;
      vertical-align: top;
      white-space: normal; }
      nav ul li a {
        color: white;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 60px;
        font-weight: 700;
        text-decoration: none;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }

main {
  position: relative;
  width: 1080px;
  margin: 0 auto 0; }
  main .featured-left {
    margin-top: 50px; }
    main .featured-left span {
      background: #262626;
      border-radius: 100%;
      height: 78px;
      width: 78px;
      text-align: center;
      margin: 0 auto 0;
      display: block;
      color: white; }
      main .featured-left span i {
        line-height: 78px; }
    main .featured-left h3 {
      font-size: 2rem;
      line-height: 100%;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 10px; }
    main .featured-left p {
      font-size: 1.6rem;
      line-height: 110%;
      font-weight: 400;
      color: #777776; }
  main .featured-right {
    margin-top: 50px; }

.company-branding {
  text-align: center; }
  .company-branding > figcaption {
    font-size: 1.6rem;
    line-height: 110%;
    font-weight: 700;
    color: #777776;
    margin-top: 10px; }
    .company-branding > figcaption img {
      height: 80px;
      width: 175px; }

.properties {
  margin-top: 40px;
  padding-top: 50px;
  border-top: thin solid #e2e2e2; }
  .properties h3 {
    font-size: 3rem;
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase;
    color: #4a4a4a; }
    .properties h3 span {
      text-transform: capitalize;
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      text-indent: 20px;
      font-size: 1.8rem;
      line-height: 200%;
      font-weight: 400; }
  .properties .tabs-container {
    width: 100%;
    margin-top: 20px; }
    .properties .tabs-container .filters {
      width: 100%;
      margin-bottom: 20px; }

.chosen-container-single {
  width: 100% !important; }
  .chosen-container-single .chosen-single {
    border: thin solid #ececec;
    height: 40px;
    color: #4a4a4a;
    font-size: 1.4rem;
    line-height: 38px;
    font-weight: 400; }

.chosen-container .chosen-results li.highlighted {
  background: #33a7d0; }

.container-propierty {
  max-height: 1380px;
  border-bottom: thin solid #e2e2e2;
  overflow: hidden; }
  .container-propierty article.propierty {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    width: 31.12583%;
    margin-bottom: 20px;
    background: white;
    padding-bottom: 20px; }
    .container-propierty article.propierty figure {
      height: 220px;
      display: block;
      width: 100%; }
      .container-propierty article.propierty figure img {
        width: 100%;
        height: 100%; }
    .container-propierty article.propierty .adress {
      margin: 10px 0 0 10px;
      font-size: 1.4rem;
      line-height: 130%;
      font-weight: 400;
      float: left;
      color: #4a4a4a; }
    .container-propierty article.propierty .badge {
      float: right;
      background: #33a7d0;
      padding: 5px;
      border-radius: 25px;
      color: white;
      margin: 10px 10px 0 0;
      font-size: 1.2rem;
      line-height: 100%;
      font-weight: 300;
      text-transform: uppercase; }
    .container-propierty article.propierty h1 {
      display: block;
      clear: both;
      padding: 10px;
      font-size: 1.8rem;
      line-height: 110%;
      font-weight: 700;
      color: #4a4a4a; }
    .container-propierty article.propierty .price {
      text-align: center;
      color: #33a7d0;
      font-size: 2.2rem;
      line-height: 110%;
      font-weight: 400; }
    .container-propierty article.propierty .status {
      text-align: center;
      margin: 10px 0 0; }
      .container-propierty article.propierty .status span {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        padding: 30px 0 0;
        width: 40px; }
      .container-propierty article.propierty .status .m2 {
        background: url("../images/icon-m2.png") top center no-repeat; }
      .container-propierty article.propierty .status .bathrooms {
        background: url("../images/icon-shower.png") top center no-repeat; }
      .container-propierty article.propierty .status .rooms {
        background: url("../images/icon-bed.png") top center no-repeat; }
      .container-propierty article.propierty .status .garage {
        background: url("../images/icon-car.png") top center no-repeat; }

section.new-projects {
  border-bottom: thin solid #e2e2e2;
  padding-bottom: 60px; }
  section.new-projects h4 {
    font-size: 3rem;
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase;
    color: #4a4a4a;
    margin: 30px 0; }
  section.new-projects article {
    background: white; }
    section.new-projects article > figure {
      width: 100%; }
      section.new-projects article > figure img {
        max-height: 205px;
        width: 100%;
        height: 100%; }
      section.new-projects article > figure img.logo {
        height: 80px;
        width: 100px;
        float: left;
        margin: -60px 0 0 20px;
        position: relative;
        z-index: 99;
        border: 1px solid #ececec; }
    section.new-projects article hgroup {
      float: right;
      color: white;
      margin: -50px 20px 0 0;
      width: 70%;
      position: relative;
      z-index: 99; }
      section.new-projects article hgroup h1 {
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 110%;
        font-weight: 700; }
      section.new-projects article hgroup h2 {
        font-size: 1.6rem;
        line-height: 110%;
        font-weight: 400; }
    section.new-projects article h3 {
      padding: 10px 20px;
      display: block;
      clear: both;
      font-size: 1.6rem;
      line-height: 110%;
      font-weight: 700;
      color: #4a4a4a; }
    section.new-projects article p {
      padding: 0 20px;
      font-size: 1.4rem;
      line-height: 110%;
      font-weight: 400;
      color: #4a4a4a; }
    section.new-projects article .price {
      text-align: center;
      color: #33a7d0;
      font-size: 2.2rem;
      line-height: 110%;
      font-weight: 400; }
      section.new-projects article .price > span {
        padding: 10px 0 0;
        font-size: 1.4rem;
        line-height: 110%;
        font-weight: 700;
        color: #4a4a4a;
        text-align: center;
        display: block; }
    section.new-projects article figure.construction {
      margin-top: 40px; }
      section.new-projects article figure.construction figcaption {
        margin-bottom: 5px;
        font-size: 1.4rem;
        line-height: 110%;
        font-weight: 400;
        color: #4a4a4a;
        text-align: center;
        display: block; }
      section.new-projects article figure.construction img {
        border: 1px solid #ececec;
        height: 64px;
        width: 146px; }

ul.others-projects {
  margin-top: 20px; }
  ul.others-projects li {
    border-top: 1px solid #e2e2e2; }
  ul.others-projects figure {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    height: 44px;
    width: 60px; }
    ul.others-projects figure img {
      width: 100%;
      height: 100%; }
  ul.others-projects .prices {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    color: #33a7d0;
    font-size: 1.6rem;
    line-height: 130%;
    font-weight: 400;
    margin-left: 10px; }
    ul.others-projects .prices > p {
      margin: 0;
      padding: 0;
      text-align: left;
      font-size: 1.4rem;
      line-height: 110%;
      font-weight: 400;
      color: #4a4a4a; }
  ul.others-projects .status {
    float: right; }
    ul.others-projects .status span {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      padding: 0 10px 0 40px;
      height: 44px;
      line-height: 44px;
      text-align: center; }
    ul.others-projects .status .m2 {
      background: url("../images/icon-m2.png") left center no-repeat; }
    ul.others-projects .status .bathrooms {
      background: url("../images/icon-shower.png") left center no-repeat; }
    ul.others-projects .status .rooms {
      background: url("../images/icon-bed.png") left center no-repeat; }
    ul.others-projects .status .garage {
      background: url("../images/icon-car.png") left center no-repeat; }

.agent {
  margin-top: 40px; }
  .agent h3 {
    font-size: 3rem;
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase;
    color: #4a4a4a;
    margin-bottom: 20px; }
  .agent p {
    font-size: 1.4rem;
    line-height: 160%;
    font-weight: 400;
    color: #4a4a4a;
    margin-bottom: 20px; }
  .agent article {
    padding-left: 40px; }
    .agent article figure.about {
      vertical-align: top;
      display: inline-block;
      width: 132px; }
      .agent article figure.about img {
        border: 6px solid white;
        width: 100%;
        height: 100%;
        border-radius: 100%; }
    .agent article .contact-data {
      vertical-align: top;
      display: inline-block;
      width: auto;
      color: #262626;
      margin-left: 20px; }
      .agent article .contact-data hgroup h1,
      .agent article .contact-data hgroup h2 {
        font-size: 2.2rem;
        line-height: 100%;
        font-weight: 700; }
      .agent article .contact-data hgroup h2 {
        font-weight: 400;
        margin-bottom: 10px; }
      .agent article .contact-data span {
        background: #33a7d0;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        line-height: 28px;
        text-align: center;
        float: left;
        clear: left;
        margin-top: 5px; }
        .agent article .contact-data span i {
          color: white; }
      .agent article .contact-data > p {
        font-size: 1.6rem;
        line-height: 25px;
        font-weight: 700;
        float: left;
        text-indent: 7px;
        margin: 5px 0 0; }
    .agent article > p {
      font-size: 1.6rem;
      line-height: 150%;
      font-weight: 400;
      margin-top: 20px; }

footer {
  background: #343434;
  margin-top: 40px;
  height: 105px; }
  footer .wrapper {
    background: url("../images/copyright.jpg") right center no-repeat;
    height: 105px; }
