/*@header*/

header
	+w100
	height: 320px
	+bg(url('../images/bg-banner.jpg'))
	+bs(cover)
	+bp(center center)
	.wrapper
		+grid-left
		+b1

	figure
		+col
		width: 132px
		margin: 100px 0 0 200px
		img
			border: 6px solid $white
			+s100
			+radius

	.contact-data
		+col
		+wauto
		margin: 100px 0 0 20px
		+white
		hgroup
			h1, 
			h2
				+fs(4, 100%, 700)
			h2
				+fw(400)
		span
			+bg($black)
			+radius
			+size(30px)
			+lh(28px)
			+tCenter
			+left
			clear: left
			+mt(5px)
		p
			+fs(2, 30px, 400)
			+left
			+ti(10px)
			+mt(5px)

nav
	+bg($color)
	+b5
	ul
		+grid-center
		+b1
		+page
		height: 70px
		li
			+col
			+b2
			+col-3
			a
				+b3
				+white
				+block
				+lh(70px)
				+tCenter
				+upper
				+fs(2, 70px, 700)
				
