mixin paragraph-mini
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur tenetur autem sunt sapiente repudiandae, nesciunt, mollitia vitae, quas numquam veritatis doloribus maiores incidunt.

mixin paragraph-small
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur tenetur autem sunt sapiente repudiandae, nesciunt, mollitia vitae, quas numquam veritatis doloribus maiores incidunt, odio dolor ipsum commodi quibusdam impedit soluta.  Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fuga exercitationem, odit quis illo.

mixin paragraph
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur tenetur autem sunt sapiente repudiandae, nesciunt, mollitia vitae, quas numquam veritatis doloribus maiores incidunt, odio dolor ipsum commodi quibusdam impedit soluta.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam odio consequuntur dolor rerum recusandae vitae officia pariatur magni tempore cupiditate odit, tempora deserunt quia impedit aliquam a quasi eos at!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nemo omnis debitis quibusdam, accusantium qui amet consequuntur officia architecto at saepe consequatur laudantium quaerat illo cupiditate odio reiciendis fugiat eaque.

mixin paragraph-big
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur tenetur autem sunt sapiente repudiandae, nesciunt, mollitia vitae, quas numquam veritatis doloribus maiores incidunt, odio dolor ipsum commodi quibusdam impedit soluta.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis eos, ullam ratione iure consequuntur ut, voluptatibus nostrum at. Facere quibusdam quas itaque tenetur error possimus quisquam porro eligendi eius adipisci.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui deleniti, voluptatem voluptates neque, harum omnis maxime voluptatum numquam ad illum, voluptate, nihil distinctio accusamus corrupti? Consequatur alias dolor, veritatis fugit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum consequatur commodi, accusamus vero molestias nam dicta fugit. Laudantium vero corrupti deleniti architecto dolore impedit nam, officiis, modi iure sunt explicabo!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, ipsum. Labore fugit ipsum ducimus harum quisquam doloribus fugiat cupiditate culpa, velit repellendus illum eius, obcaecati blanditiis excepturi, ea vitae in.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est eaque, nihil doloribus, ducimus quibusdam, quas natus labore nobis hic enim dicta ipsum veniam dignissimos maiores similique debitis quos ipsam, laudantium!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit earum quos repellat sint error! Adipisci ducimus a, et nulla provident odio voluptas culpa quod nam illo ab ipsum vero unde.

mixin line-mini
	| Lorem ipsum dolor sit amet, consectetur

mixin line-small
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quisquam error nulla atque. Quam, numquam ipsam

mixin line
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem accusantium, beatae ratione. Quibusdam pariatur maiores, quae harum corporis dolorem nulla quas libero

mixin line-big
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ipsa, nostrum accusantium facilis! Fugiat nostrum provident, cum corrupti. Aliquid veniam recusandae quis. Commodi quidem ullam, tempora fugit eius reiciendis, rem?